<div class="dialog-overlay">
  <div class="dialog-box">
    <h2 class="dialog-title">Agregar Nota</h2>

    <form #noteForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="noteTitle">Título de la Nota:</label>
        <input type="text" id="noteTitle" name="noteTitle" ngModel required class="form-control" placeholder="Ingrese el título de la nota">
      </div>

      <div class="form-group">
        <label for="noteContent">Contenido de la Nota:</label>
        <textarea id="noteContent" name="noteContent" ngModel required class="form-control" placeholder="Ingrese el contenido de la nota"></textarea>
      </div>

      <div class="dialog-actions">
        <button type="button" (click)="onCancel()" class="btn btn-secondary">Cancelar</button>
        <button type="submit" [disabled]="!noteForm.valid" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>
